<h2>{{title}}</h2>
<div class="quiz-edit">
  <div>
    <label for="title">Tytuł quizu:</label>
    <br />
    <input type="text" id="title" [(ngModel)]="quiz.Title" placeholder="Wpisz tytuł..." />
  </div>
  <div>
    <label for="title">Opis quizu:</label>
    <br />
    <input type="text" id="description" [(ngModel)]="quiz.Description" placeholder="Wpisz opis..." />
  </div>
  <div>
    <label for="title">Dodatkowe informacje o quizie:</label>
    <br />
    <textarea id="text" [(ngModel)]="quiz.Text" placeholder="Wpisz text..."></textarea>
  </div>
  <div>
    <input *ngIf="editMode" type="button" value="Zapisz zmiany"
           (click)="onSubmit(quiz)" />
    <input *ngIf="!editMode" type="button" value="Utwórz quiz"
           (click)="onSubmit(quiz)" />
    <input type="button" value="Anuluj"
           (click)="onBack()" />
  </div>
  <question-list [quiz]="quiz" *ngIf="editMode"></question-list>
</div>
