<div>
  <h2>{{title}}</h2>
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <div *ngIf="form.errors?.auth">
      {{form.errors.auth}}
    </div>
    <div>
      <input type="text" required
             formControlName="Username"
             placeholder="Nazwa użytkownika lub adres email"/>
      <div *ngIf="hasError('Username')">
        Wpisz poprawną nazwę użytkownika lub adres email.
      </div>
    </div>
    <div>
      <input type="password" required
             formControlName="Password"
             placeholder="Hasło" />
      <div *ngIf="hasError('Password')">
        Wpisz hasło.
      </div>
    </div>
    <div>
      <label><input type="checkbox" name="remember" value="remember" />Zapamiętaj mnie</label>
    </div>
    <button type="submit" [disabled]="form.invalid">
      Zaloguj się
    </button>
  </form>
  <div>
    <a href="#">
      Zapomniałeś hasła?
    </a>
  </div>
</div>
