<h2>{{title}}</h2>
<div class="answer-edit">
  <div>
    <label for="text">Treść odpowiedzi:</label>
    <br/>
    <textarea id="text" [(ngModel)]="answer.Text"
              placeholder="Wpisz odpowiednią treść..."></textarea>
  </div>
  <div>
    <label for="text">Wartość punktowa:</label>
    <br />
    <select id="value" name="value" [(ngModel)]="answer.Value">
      <option *ngFor="let num of [-5,-4,-3,-2,-1,0,1,2,3,4,5]"
              [value]="num">{{num}}</option>
    </select>
  </div>
  <div>
    <input *ngIf="editMode" type="button" value="Zapisz zmiany"
           (click)="onSubmit(answer)" />
    <input *ngIf="!editMode" type="button" value="Utwórz odpowiedź"
           (click)="onSubmit(answer)" />
    <input type="button" value="Anuluj"
           (click)="onBack()" />
  </div>
</div>
