<h2>{{title}}</h2>
<div class="answer-edit">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="text">Treść odpowiedzi:</label>
      <br />
      <textarea id="text" formControlName="Text" required
                placeholder="Wpisz odpowiednią treść..."></textarea>
      <div *ngIf="hasError('Text')">
        To pole jest wymagane.
      </div>
    </div>
    <div>
      <label for="text">Wartość punktowa:</label>
      <br />
      <select id="value" formControlName="Value" required>
        <option value="">Wybierz wartość...</option>
        <option *ngFor="let num of [-5,-4,-3,-2,-1,0,1,2,3,4,5]"
                [value]="num">
          {{num}}
        </option>
      </select>
      <div *ngIf="hasError('Value')">
        Wybierz wartość w zakresie od -5 do 5.
      </div>
    </div>
    <div>
      <button *ngIf="editMode" type="submit" [disabled]="form.invalid">
        Zapisz zmiany
      </button>
      <button *ngIf="!editMode" type="submit" [disabled]="form.invalid">
        Utwórz pytanie
      </button>
      <button type="submit" (click)="onBack()">
        Anuluj
      </button>
    </div>
  </form> 
</div>
